<div class="col-md-12">
  <h2>Characters</h2>
</div>

<div class="col-md-5">
  <form>
    <input type="text" placeholder="Search..." ng-model="searchText.prettyName" class="form-control" />
  </form>

  <br>

  <table class="table table-striped">
    <tbody>
      <tr ng-repeat="character in characters | filter:searchText">
        <td>
          <a href="#{{character.name}}" title="{{character.description}}">{{character.prettyName}}</a>
        </td>
      </tr>
      <tr ng-show="(characters | filter:searchText).length == 0">
        <td>I couldn't find any characters :(</td>
      </tr>
    </tbody>
  </table>
</div>